.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link:hover {
  text-shadow: 0 0 10px #2f80ed;
}
